.espacio{
    min-height: calc(100vh - 200px );
}
.wrapper {
    width: 90%;
    max-width:1000px;
    margin:auto;
    overflow: hidden;
}
.tamaño{
    width: 150px;
    height: 200px;
    padding-right: 200px;
}